body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #021a2e;
}

h2 {
  color: rgb(187, 187, 187);
  font-size: 42px;
}

.container {
  width: 750px;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  all: unset;
  padding: 5px 10px;
  border-radius: 15px;
  background: #3993c7;
  box-shadow: 5px 5px 10px #0c3146, -5px -5px 10px #1c4b5c;
}
.btn:hover {
  cursor: pointer;
  box-shadow: inset 5px 5px 10px #0c3146, inset -5px -5px 10px #1c4b5c;
}
